.file {
    height: 64px;
    &:hover { background-color: #e7e7e7; }
    &__thumbnail {

    }
    &__name {

    }
    &__modified {

    }
    &__size {

    }
    &__starred {
        svg {
            fill: $orange;
        }
        &:hover {
            svg { 
                fill: $yellow; 
                cursor: pointer;
            }
        }
    }
    &__more {

    }
}