.progressBarPopup {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 35%;
  left: 35%;
  background-color: $body;
  border: 1px solid lightgrey;
  border-radius: 5px;

  -webkit-box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.21);
  box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.12);
}

.progressBarPopup__text {
  margin-bottom: 20px;
}

.progressBarPopup__graphicsContainer {
width: 200px;
height: 25px;
position: relative;
border: 1px solid black;
background-color: $body;

}

.progressBarPopup__graphicsContainer__progress {
 position: absolute;
 width: 0%;
 height: 23px;
 background-color: $wine;
 transition: all 0.5s;
}

.progressBarPopup__finished {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.progressbarPopup__finished__text{
  margin-top: 10px;
}

.progressBarPopup__finished__button {
  margin-top: 20px;
  width: 75px;
  height: 25px;
  color: $wine;
  background-color: $yellow;
    border-radius: 2px;

}

.progressBarPopup__finished__button:hover {
  margin-top: 20px;
  color: $yellow;
  background-color: $wine;
  border-radius: 2px;
}


.progressBarPopup__dummy {
  height: 75px;
}
