.rename {
  width: 300px;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $body;

  -webkit-box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.21);
  box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.12);
}

.rename__text {
  padding-bottom: 10px;
}

.rename__input {
  margin-bottom: 10px;
}


.rename__buttonContainer {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.rename__inputContainer {
  display: flex;
}
