@import './header';
@import './profile';

.main {

    height: 100vh;
    background-color: $body;
    display: grid;
    grid-template:
        'mainmenu header profile' 120px
        'mainmenu content content' auto / 1fr 7fr 1fr;

    & .mainmenu{
        grid-area: mainmenu;
    }

	& .header {
		grid-area: header;
	}

	& .profile {
		grid-area: profile;
	}

    & .content {
        grid-area: content;
        overflow-y: scroll;
    }

}
