@import './mainmenu/folderPopup';

.mainmenu {
    background-color: $yellow;
    width: 200px;
    padding-top: 20px;

    #file-upload-form {

    }
    .hidden {
      display: none;
    }

    &__home, &__favorite, &__upload, &__newfolder {
      display: flex;
      align-content: center;
      align-items: center;
      vertical-align: middle;
      text-align: center;

      * {
        padding: 3px;
        color: black;
        vertical-align: middle;
      }
    }

    #folder_label:hover {
      cursor: pointer;
    }

    svg:hover  {
      cursor: pointer;
    }
}
