.profile {
  width: 220px;
  height: 50px;
  display: flex;
  display: flex;
  align-items: center;
  transform: translateY(34px);
}

.profile__info {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.profile__info__greeting {
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__info__greeting__text {
  font-size: 14px;
}

.profile__userIconContainer {
  position: relative;
  width: 35px;
  height: 35px;
  margin-top: 3px;
  background-color: $wine;
  border-radius: 10px;
}

.profile__userIconContainer__userIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $yellow;
}

.profile__info__moreButton {
  position: relative;
  height: 22px;
  width: 16px;
  margin-top: 11px;

  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  color: $purple;
  outline: none;
  transition: all 0.2s;
}

.profile__more {
  padding: 10px 0 10px 0;
  position: absolute;
  width: 180px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  background-color: $body;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transform: translate(14px, 94px);

  -webkit-box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.21);
  box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.12);
}

.profile__info__moreButton:hover {
  color: $yellow;
}

.profile__info__moreButton:active {
  color: $red;
}

.arrowDropDownIcon {
    transform: translateY(-7px);
}

.profile__more__refLinkInputDummy {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 0px;
  top: -1000px;
}

.profile__more__lineBreak {
  width: 150px;
  height: 1px;
  background-color: $purple;
  margin: auto;
}

.profile__more__lineBreakFat {
  width: 150px;
  height: 2px;
  background-color: $purple;
  margin: auto;
}

.profile__more__logoutButton {
  width: 150px;
  height: 20px;
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;

}

.profile__more__logoutButton:hover {
  background-color: $hover;
  border-radius:10px;
}

.profile__more__logoutButton:active {
  color: $yellow;
  background-color: $wine;
}

.profile__more__profileInfo__email__text {
  padding-top: 5px;
  font-size: 12px;
}

.profile__more__refLinkButton {
  display: flex;
  position: relative;
  width: 150px;
  height: 30px;
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  background-color: $yellow;
  border-radius: 10px;
  color: $wine;
}

.profile__more__refLinkButton:hover {
  background-color: $hover;
}

.profile__more__refLinkButton:active {
  background-color: $wine;
  color: $yellow;
}

.profile__more__refLinkButton__linkIcon {
  position: absolute;
  left: 75px;
  top: 15px;
  margin-left: -10px;
  margin-top: -11px;
  transform: rotate(45deg);
}

.profile__more__refLinkButton__textContainer {
  padding-left: 24px;
  width: 57px;
}

.profile__more__spaceUsageText {
  font-size: 12px;
}

.profile__more__refLinkHeader__text {
  font-size: 12px;
}
