/* === Los Pepes Color Palette === */
$purple: #581845;
$wine: #900C3F;
$red: #C70039;
$orange: #FF5733;
$yellow: #FFC30F;
$fontHeader: 'Inknut Antiqua', serif;
$fontBody: 'Domine', serif;
$fontButton: 'Cormorant', sans-serif;
